.calendarHeader {
  background-color: #1e1e1e;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  height: 60px;
}

.calendarContainer {
  height: 724px;
  width: 400px;
  background-color: #1e1e1e;
  overflow: scroll;
}

.calendarContainer::-webkit-scrollbar {
  display: none;
}
