.calendarHeaderContainer {
  background-color: #1e1e1e;
  color: #fff;
  height: 104px;
}
.calendarHeaderContainer span {
  margin-top: 50px;
}
.calendarHeaderContainer svg {
  margin-top: 50px;
}

.calendarContainer {
  height: 681px;
  width: 400px;
  background-color: #1e1e1e;
  overflow: scroll;
  border: 1px solid #6b6b6b;
}

.calendarContainerReview {
  height: 785px;
  width: 400px;
  background-color: #1e1e1e;
  overflow: scroll;
  border: 1px solid #6b6b6b;
}

.calendarContainerReview {
  height: 785px;
  width: 400px;
  background-color: #1e1e1e;
  overflow: scroll;
  border: 1px solid #6b6b6b;
}

.calendarContainerReview::-webkit-scrollbar {
  display: none;
}

.calendarContainer::-webkit-scrollbar {
  display: none;
}

.calendarHeader {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.intensityContainerFixed {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 53px;
  margin-top: 165px;
  position: absolute;
}

.participantImgContainerFixed {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -180px;
  margin-top: 60px;
}

.eventParticipantsFixed {
  width: 40px;
  height: 40px;
  border: 2px solid red;
  border-radius: 50%;
  margin-left: 5px;
}

.giveReviewBtn {
  background-color: #1e1e1e;
  color: #fff;
  border: 1px solid #676464;
  border-radius: 3px;
  width: 150px;
  height: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-left: -160px;
}

.giveReviewBtn:hover {
  cursor: pointer;
}

.giveReviewHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  border-bottom: 1px solid #676464;
}

.giveReviewTitle {
  font-size: 30px;
  color: #fff;
}

.giveReviewLocation {
  font-size: 15px;
  color: #fff;
  opacity: 80%;
  margin-bottom: 5px;
}

.giveReviewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 590px;
  color: #fff;
  margin-bottom: 20px;
}

.giveReviewEventContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.giveReviewEventTitle {
  color: #fff;
  font-size: 15px;
}

.giveReviewEventStars {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.giveReviewEventStars:hover {
  cursor: pointer;
  fill: yellow;
}

.giveReviewInput {
  margin-top: 8px;
  margin-left: 55px;
  width: 320px;
  height: 35px;
  border: 2px solid #6b6b6b;
  background-color: #1e1e1e;
  padding-left: 30px;
  color: #fff;
}

.giveReviewInput:focus {
  outline: none;
  border: 2px solid #6b6b6b;
}

.giveReviewPic {
  position: absolute;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  margin-left: 28px;
  margin-top: -10px;
}

.giveReviewUsername {
  position: absolute;
  margin-left: 90px;
  margin-top: -10px;
  font-size: 11px;
  opacity: 80%;
}

.giveReviewRating {
  float: right;
  margin-right: 23px;
  margin-top: -60px;
}

.giveReviewRating:hover {
  cursor: pointer;
}

.giveReviewBtnConfirm {
  background-color: #1e1e1e;
  color: #fff;
  border: 1px solid #676464;
  border-radius: 3px;
  width: 150px;
  height: 35px;
  align-items: center;
  justify-content: center;
  margin-left: 125px;
  margin-top: 10px;
}
.giveReviewBtnConfirm:hover {
  cursor: pointer;
}

.giveReviewParticipant {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  overflow: scroll;
}

.giveReviewParticipant::-webkit-scrollbar {
  display: none;
}
