@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&display=swap');

.leaderboardHeader {
  border-bottom: 2px solid #ffffff;
  font-family: 'Bebas Neue', cursive;
}

.leaderboardHeader h1 {
  color: #ffffff;
  font-size: 30;
  margin-left: 155px;
  margin-top: 30px;
}

.rangering {
  font-size: 15;
  color: #6b6b6b;
  margin-left: 28px;
}

.brukernavn {
  font-size: 15;
  color: #6b6b6b;
  margin-left: 90px;
}

.poeng {
  font-size: 15;
  color: #6b6b6b;
  margin-left: 100px;
}

.listContainer {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
}

.leaderboardDivContainer {
  margin: 0;
  margin-top: 5px;
  padding: 0;

  display: flex;
  flex-direction: row;
  font-family: 'Inter', sans-serif;
}

.leaderboardDivLiten {
  margin-left: 3px;
  border-radius: 3px;
  background-color: #282828;
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 40px;
}

.leaderboardDivStor {
  border-radius: 3px;
  width: 193px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282828;
  color: #ffffff;
  text-align: center;
  margin-left: 3px;
  cursor: pointer;
}

.activeUser {
  border: 2px solid #ffffff;
}

.leaderboardContentContainer {
  height: 786px;
  /* border: 2px solid green; */
  background-color: #1e1e1e;
  z-index: 2;
  overflow: scroll;
}

.leaderboardContentContainer::-webkit-scrollbar {
  display: none;
}
