@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.profileHeader {
  background-color: #1e1e1e;
  color: #ffffff;
  height: 297px;
  border-bottom: 2px solid #6b6b6b;
  font-family: 'Inter', sans-serif;
}

.icon {
  position: absolute;
  margin-left: 360px;
  margin-top: 10px;
}

.profileNameLoc {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.profileUsername {
  font-size: 20px;
}

.dotContainer {
  width: 400px;
  display: flex;
  margin-top: 100px;
  margin-left: -20px;
  font-size: 14px;
  justify-content: space-around;
}

.dotInactive {
  opacity: 50%;
}

.profileLoc {
  font-size: 15px;
  color: #6b6b6b;
}

.profileHeader img {
  border-radius: 50%;
  width: 96px;
  height: 96px;
  margin-left: 150px;
  margin-top: 30px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.59);
  border: 4px solid #6b6b6b;
}

.profileStatsContainer {
  margin-top: -100px;
}

.profilePoeng {
  position: absolute;
  color: #ffffff;
  margin-left: 40px;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.laget {
  position: absolute;
  margin-top: 0px;
  margin-left: 158px;
  display: flex;
  flex-direction: column;
  /* justify-content:center; */
  align-items: center;
}
.deltatt {
  position: absolute;
  margin-top: 0px;
  margin-left: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviewContainer {
  background-color: #1e1e1e;
  color: #ffffff;
  height: 487px;
  overflow: scroll;
}

.reviewContainer::-webkit-scrollbar {
  display: none;
}

.reviewSmallContainer {
  margin-top: 40px;
}

.reviewPic {
  position: absolute;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  margin-left: 28px;
  margin-top: -28px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.59);
  border: 2px solid #6b6b6b;
}

.reviewName {
  position: absolute;
  margin-left: 100px;
  margin-top: -20px;
  opacity: 80%;
}

.reviewText {
  margin-top: 8px;
  margin-left: 55px;
  width: 320px;
  height: 77px;
  border: 2px solid #6b6b6b;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.59);
}
.reviewTextTxt {
  margin-top: 25px;
  margin-left: 40px;
  width: 250px;
  height: 69px;
}

.reviewRating {
  float: right;
  margin-right: 15px;
  margin-top: -105px;
}

.createdEventsContainer {
  height: 487px;
  background-color: #1e1e1e;
  overflow: scroll;
}

.createdEventsContainer::-webkit-scrollbar {
  display: none;
}

.bioContainer {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  color: #ffffff;
  height: 487px;
}

.profileDesc {
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
}

.profileTag {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.59);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  border: 2px solid #6b6b6b;
  width: 105px;
  height: 25px;
  background-color: #1e1e1e;
}

.profileTagContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-direction: row;
}
